<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FireBit Vault</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />

  <%if (htmlWebpackPlugin.options.NODE_ENV !== 'production') { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/umd/react.development.js" integrity="sha256-ST7P3DAEZSLHHBnC+AyRNGDRFbSHK7EiPC3hBjkVOZA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.0.0/umd/react-dom.development.js" integrity="sha256-LPSUIWkbnb8ZFvlw4VMqck85wQs2s77MeUEUVZ9uNSs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js" integrity="sha256-jCRPoAgIIooCTnLmaSyKMPrFgFh6/T0e8c3i+KkZZ6U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-react/0.74.2/semantic-ui-react.min.js" integrity="sha256-UBKTWRKeET2voiuIgSGRcc8xhQfur7JJaJzfMVYS6/8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/recompose/0.25.1/Recompose.js" integrity="sha256-hK1YAH6/sEkvMU/DI4LdoMEL4bZT5w1p+7GOIUEMUII=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.7.2/redux.js" integrity="sha256-Ezb5Nri+VAO8xJDHLcPCxS70Kfh+MUFw9OXLZZrdfCs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/5.0.6/react-redux.js" integrity="sha256-i99W+hBLkRAx0v7o1TANzl2UDB9Bnsu0BOtjzPVb4qQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux-form/7.0.4/redux-form.js" integrity="sha256-RY38O5tClMN++ghE3xvTIe9+06ZL/p9hXg6wIIevtUM=" crossorigin="anonymous"></script>
  <% } %>

  <style>
    body, html, #app-container {
      margin: 0;
      padding: 0;
      height: 100%;
    }
  </style>
</head>
<body>
  <noscript>You need to enable JavaScript to view this page</noscript>
  <div id="app-container"></div>
</body>
</html>
